body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  font-family: 'Merriweather', cursive;
  font-size: 2.5rem;
  line-height: 2;
  margin: 0;
  color: #1D5C63;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #1D5C63;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #769FCD;
}
hr {
  background-color: #F7FBFC;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: lightgrey;
  width: 7%;
}
a {
  color: #769FCD;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}

.profile, .skills, .contact-me {
  margin-top: 100px;
  margin-bottom: 100px;
}

.right_cloud {
  position: absolute;
  right: 360px;
  top: 50px;
}
.left_cloud {
  position: absolute;
  left: 500px;
  top: 200px;
}

.top-container {
  position: relative;
  padding-top: 100px;
}
.middle-container {
  background-color: #F7FBFC;
  padding-top: 25px;
  padding-bottom: 25px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    padding-bottom: 50px;
}
.talk_about {
  width: 40%;
  margin: auto;
  line-height: 2;
  padding-bottom: 100px;
}

.bottom-container {
  padding-top:25px;
  background-color: #D6E6F2;
}
.python_icon {
  width: 25%;
  float: left;
  margin-right: 40px;
}
.cad_design_icon {
  width: 25%;
  float: right;
  margin-left: 40px;
}

.btn {
  background: #A6E3E9;
  background-image: -webkit-linear-gradient(top, #A6E3E9, #71C9CE);
  background-image: -moz-linear-gradient(top, #A6E3E9, #71C9CE);
  background-image: -ms-linear-gradient(top, #A6E3E9, #71C9CE);
  background-image: -o-linear-gradient(top, #A6E3E9, #71C9CE);
  background-image: linear-gradient(to bottom, #A6E3E9, #71C9CE);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #CBF1F5;
  background-image: -webkit-linear-gradient(top, #CBF1F5, #CBF1F5);
  background-image: -moz-linear-gradient(top, #CBF1F5, #CBF1F5);
  background-image: -ms-linear-gradient(top, #CBF1F5, #CBF1F5);
  background-image: -o-linear-gradient(top, #CBF1F5, #CBF1F5);
  background-image: linear-gradient(to bottom, #CBF1F5, #CBF1F5);
  text-decoration: none;
}
.footer-link {
  font-size: 1.3rem;
}

.footer-link_icon {
  font-size: 0.625rem;
}
